body
{
	background:#fcfcfc;
	background-color: #EFFBF2;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	color:#333;
	font-size:15px
}

#img
{
	
	display: block;
    margin-left: auto;
    margin-right: auto
}
a
{
	text-decoration:none;
}
	
	
.row-heading
{
	font-weight:500;font-size:.7em;text-transform:uppercase
}
	
	
.timetable .time-label
{
	font-size:14px;
	font-family: monospaced;
	
}

#randomiser
{
	background-color:#6496c8;
	color:#fff;
	text-shadow: -2px 2px #346392;
	font-weight: bold;
	font-size:20px;
	margin-left:25px;
	margin-top:40px;
	margin-bottom: 100px;
	
}

#PersonalisedTT
{
	background-color:#6496c8;
	color:#fff;
	text-shadow: -2px 2px #346392;
	font-weight: bold;
	font-size:20px;
	margin-right:40px;
	margin-top:40px;
	margin-bottom: 100px;
	float:right;
}

h1
{
	text-align:center;
}


#Friday

{
	background-color:#D8D8D8;
	color:#333;
	font-weight: bold;
	font-size:18px;



	
}
	#Saturday
	{
	
	background-color:#D8D8D8;
	color:#333;
	font-weight: bold;
	font-size:18px;

	
	}